// styles - fonts
//

@font-face {
  font-family: hack;
  src: url('../../assets/fonts/hack/regular.otf');
}

@font-face {
  font-family: hack;
  src: url('../../assets/fonts/hack/semibold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: hack;
  src: url('../../assets/fonts/hack/italic.ttf');
  font-style: italic;
}
