// styles - variables
//

$black-10: rgba(0, 0, 0, 0.1);
$black-20: rgba(0, 0, 0, 0.2);
$black-30: rgba(0, 0, 0, 0.3);
$black-50: rgba(0, 0, 0, 0.5);
$black-70: rgba(0, 0, 0, 0.7);

$main-purple: #a797ee;
$main-purple-dark: #826be8;
$main-purple-light: #9989e0;
$dark-gray: #1d1f21;
$dark-gray-light: #272b2e;
$white-hover: #e0dcfa;
$light-purple: #f6f5ff;

$large: 992px;
